version: '3'
services:
  
  # just the namespace
  beets-cron:
    environment:
      VOLUME_MAP_SOURCE: ${VOLUME_MAP_SOURCE}
      BEETS_DIRECTORY: /${BEETS_DIRECTORY}
    
    # this is the image built by docker build command
    image: beets-cron

    # maps an accessible volume from host (my computer or the server root) to a new volume on container
    volumes:
      - ${VOLUME_MAP_SOURCE}:/${BEETS_DIRECTORY}

    build:
      args:
        BEETS_DIRECTORY: ${BEETS_DIRECTORY}

# still need to specify volumes again
volumes:
  beets:

# networks might not be needed??
networks:
  bridge:
    external: true
    name: bridge
  

